/*
|--------------------------------------------------------------------------
| SASS user define functions
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| Function: Example01
|--------------------------------------------------------------------------
*/

$body: 100px;
$div: 25px;

@function adjust_width_of_div($n) {
  @return (($body/$div)*$n)+px;
}

#set_width_of_div { padding-left: adjust_width_of_div(10); }

// After compilation

#set_width_of_div {
  padding-left: 40px; }
